.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 33px;
}

.responseContainer {
    display: flex;

    justify-content: space-between;
}

.imageContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image {

}

.textContainer{
    width: 50%;
}

.code {
}

.text {
}
.info {
}